@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  1% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    opacity: 1;
    transform: translateY(570px);
  }
  100% {
    opacity: 0;
    transform: translateY(570px);
  }
}


#root {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
  background: #eee;
}

#root > .enemy
{
  position: absolute;
  width: 10px;
  height: 30px;
  animation-name: moveDown;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

#root > .cock {
  background: red;
}

#root > .food {
  background: url('/img/kebab.svg') no-repeat center;
  background-size: 30px 90px;
}

#root > .alco {
  background: url('/img/wine-bottle.svg');
  background-size: 30px 90px;
  background-position: center;
}

#root > .axe {
  background: url('/img/axe.svg') no-repeat center;
  background-size: 10px 30px;
}

#root > .shuriken {
  background: url('/img/shuriken.svg') no-repeat bottom center;
  background-size: 20px 20px;
}

#artem {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 10px;
  background: brown;
}
